img,
p {
    margin-right: 15px;
}

button,
#add-gif {
    margin-right: 5px;
    margin-bottom: 20px;
    background-color: lightcoral;
    padding-top: 5px;
}

body {
    background-image: url(../images/wide_rectangles.png);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}